/* Galaxy Background */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at 30% 20%, #1a003d, #000);
  color: white;
  text-align: center;
  overflow-x: hidden;
}

/* Judul */
.title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
}

/* Sub */
.subtitle {
  margin-top: -10px;
  color: #ddd;
  font-size: 17px;
}

/* Card */
.card {
  width: 90%;
  max-width: 400px;
  background: rgba(255,255,255,0.08);
  padding: 20px;
  margin: 30px auto;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.2);
}

.card input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 16px;
  background: linear-gradient(90deg, #700cff, #0058f0);
  border: none;
  color: white;
  cursor: pointer;
}

/* Planet */
.planet {
  width: 140px;
  height: 140px;
  background: radial-gradient(circle, #3400ad, #1e0066);
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: -50px;
  animation: floatPlanet 8s ease-in-out infinite;
}

@keyframes floatPlanet {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

/* Roket */
.rocket {
  width: 70px;
  position: absolute;
  top: 30px;
  right: 20px;
  animation: flyUp 6s linear infinite;
}

@keyframes flyUp {
  0% { transform: translateY(0) rotate(-10deg); }
  50% { transform: translateY(-30px) rotate(10deg); }
  100% { transform: translateY(0) rotate(-10deg); }
}

/* Preview */
.preview {
  display: none;
  margin-top: 10px;
}

.preview img {
  width: 100%;
  border-radius: 10px;
}

footer {
  margin-top: 40px;
  padding-bottom: 20px;
  color: #bbb;
}